   
<div class="container p-4"> 
    <div class="container-fluid">        
    <h1>HEROE COMPONENT<span class="badge bg-secondary">HEROE COMPONENT</span></h1>
      <div class="container text-center">
        <div class="row row-cols-12">
          <div class="col">
            <div class="card" style="width: auto;">
              <img src="https://picsum.photos/700/400?random" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example teMargin and padding 
                    Assign responsive-friendly margin or padding values to an element or a subset of its sides with shorthand classes. Includes support for individual properties, all properties, and vertical and horizontal properties. Classes are built from a default Sass map ranging from .25rem to 3rem.
                    
                    Using the CSS Grid layout module? Consider using the gap utility instead.
                    Notation xt to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
