<!-- <div class="container-fluid">
  <div class="row sticky-top">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
      <div class="col overflowScroll auto">
        <app-heroe></app-heroe>
      </div>
      <div class="col-0 col-md-2 overflowScroll auto bg-light">
        <app-contador></app-contador>
      </div>
  </div>
  <div> -->

    <div class="container-fluid ">
      <div class="row sticky-top p-4 height: 100%;" style="background-color: brown;">
        <app-navbar></app-navbar>
      </div>
      <div class="col-12">
        <app-listado></app-listado>
      </div>
      <div class="row">
        <div class="col">
          <app-heroe></app-heroe>
        </div>
        <div class="col">
          <app-contador></app-contador>
        </div>

      </div>
    </div>